*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scrollbar-width: none;
}

/* TAG: SECTION COMMON */
body {
  font-family: 'Titillium Web', sans-serif;
  font-weight: lighter;
}
section {
  min-height: 100vh;
  position: relative;
  width: 100vw;
  overflow: hidden;
}

/* TAG: FIXED ELEMS */
logo {
  position: absolute;
  top: 2rem;
  left: 2rem;
}
logo > img {
  height: 4rem;
}

contact {
  position: absolute;
  left: 3rem;
  bottom: 2rem;
}
contact > a {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: normal;
  color: black;
  cursor: pointer;
}

navhint {
  position: absolute;
  z-index: 200;
  right: 3rem;
  bottom: 2rem;
}

navhint > img {
  height: 5rem;
}

/* TAG: CARD GRID */
grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 5%;
  margin: 5rem 0;
}

grid > card:nth-child(odd) {
  justify-self: end;
}

grid > card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

grid > card:nth-child(odd) {
  padding-left: 10vw;
}
grid > card:nth-child(even) {
  margin-top: 25%;
  padding-right: 10vw;
}


grid > card > h1 {
  margin-top: 1rem;
  font-weight: lighter;
  font-size: 1rem;
  text-transform: uppercase;
}

grid > card > h1,
grid > card > span {
  padding-top: 0.5rem;
  padding-left: 4rem;
}

grid > card > fader {
  display: block;
  position: relative;
  width: 100%;
}

grid > card > fader > img,
grid > card > fader > detail {
  width: 100%;
  height: 100%;
}
grid > card > fader > detail {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  background-color: #efd4a9;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: opacity 300ms ease;
}

grid > card > fader > detail:hover {
  opacity: 1;
}

/* TAG: FIRST SECTION (ABOUT)*/
section#about {
  position: relative;
}

section#about header,
section#about article {
  position: absolute;
}
section#about header {
  top: 20%;
  left: 15%;
}
section#about > header > h1 {
  display: inline-block;
  font-size: 7rem;
  font-weight: normal;
  background-color: black;
  color: white;
  padding: 0.8rem 5rem;
  margin-bottom: 1rem;
}

section#about article {
  width: 32rem;
  top: 50%;
  left: 50%;
  font-size: 1.4rem;
}

section#about > article:nth-of-type(1) {
  top: 70%;
}

section#about article > img {
  position: absolute;
  top: 0;
  left: -12rem;
  height: 8rem;
}

/* TAG: FIRST SECTION NAVBAR */
nav ul {
  display: flex;
  list-style-type: none;
  text-transform: uppercase;
}

nav a {
  text-decoration: none;
  color: black;
}

nav > ul > li > a {
  height: 100%;
  display: flex;
  align-items: center;
}

nav a > span {
  position: relative;
}

nav a > span:before {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  bottom: 0;
  left: 0;
  background-color: black;
  visibility: hidden;
  transform: scaleX(0);
  transition: transform 400ms ease;
}
nav a:hover > span:before {
  visibility: visible;
  transform: scaleX(1);
}


nav > ul {
  justify-content: flex-end;
}

nav > ul > li {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 100px;
  cursor: pointer;
}

nav > ul > li > ul {
  visibility: hidden;
  opacity: 0;
  max-height: 0;
  display: block;
  position: absolute;
  transition: all 0.5s ease;
  margin-top: 70px;
  top: 0;
  right: 0;
  z-index: 100;
  overflow: hidden;
  background-color: #fffa;
}

nav > ul > li:hover > ul.dropdown,
ul.dropdown:hover {
  visibility: visible;
  opacity: 1;
  display: block;
  max-height: 500px;
}

.dropdown > li {
  height: 4rem;
  width: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dropdown a {
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
}

.dropdown img {
  width: 4rem;
  height: 2rem;
}

/* TAG: SECOND SECTION (VIDEO) */
section#fullscreenvideo {
  background-color: #efd4a9;
  display: flex;
  justify-content: center;
  align-items: center;
}

section#fullscreenvideo iframe,
section#fullscreenvideo object,
section#fullscreenvideo embed {
  width: 70vw;
  height: calc(70vw * 0.5625);
}
/* TAG: THIRD SECTION (CREW) */
section#crew {
  background-color: white;
}

section#crew > header,
section#projects > header {
  padding-top: 8rem;
  display: grid;
  grid-template-columns: 1.3fr 2fr;
  grid-gap: 4rem;
}

section#crew > header > h1,
section#projects > header > h1 {
  padding-left: calc(10vw + 4rem);
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: lighter;
}
section#crew > header > p {
  max-width: 400px;
  line-height: 1.7rem;
}

section#crew detail > span {
  margin: 0.5rem 4rem;
}


/* TAG: FOURTH SECTION (PROJECTS) */
section#projects {
  background-color: white;
}

/* TODO, these are same as section#crew header */
section#projects > header > controls {
  justify-self: end;
  padding-right: 20%;
  display: flex;
  align-items: center;
  height: 100%;
}
section#projects > header > controls > img,
section#projects > header > controls > svg {
  height: 2rem;
  width: 5rem;
}

section#projects detail {
  justify-content: center;
  align-items: center;
}
section#projects detail > a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: black;
  width: 100%;
  height: 100%;
}


section#projects card {
  transition: all 500ms ease;
}
section#projects card img {
  transition: all 500ms ease;
}
section#projects card.collapsed img {
  height: 0;
  overflow: hidden;
}

section#projects card > fader {
  max-height: 500px;
  transition: height 500ms ease;
}
section#projects card.collapsed > fader {
  height: 0;
}

section#projects grid > card.collapsed:nth-child(even) {
  margin-top: 0;
}

section#projects svg {
  stroke: gray;
  stroke-width: 4.54px;
  fill: none;
  cursor: pointer;
  transition: stroke 300ms ease;
}
section#projects svg.active,
section#projects svg:hover {
  stroke: black;
}


/* TAG: FIFTH SECTION (CONTACT) */
section#contact {
  background-color: #efd4a9;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30vh 20vw 10vh 20vw;
}


section#contact header {
  width: 70%;
  display: grid;
  grid-template-columns: 6fr 1fr;
  grid-template-areas:
    "heading1 image"
    "heading2 image";
}

section#contact header > h1 {
  font-weight: lighter;
  font-size: 3rem;
  justify-self: start;
  align-self: center;
}
section#contact header > h1:nth-of-type(1) {
  grid-area: heading1;
}
section#contact header > h1:nth-of-type(2) {
  grid-area: heading2;
}

section#contact header > img {
  grid-area: image;
}

section#contact footer {
  display: grid;
  grid-template-columns: 2fr 3fr 1fr;
  grid-template-rows: 3rem 2rem 1rem;
  grid-auto-flow: column;
}

section#contact footer,
section#contact footer > h2 {
  font-weigth: semibold;
  font-size: 1rem;
  text-transform: uppercase;
}
